.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
src/
config/
./static
.babelrc
.editorconfig
.postcssrc.js
index.html
package.json
package-lock.json
README.md

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.history
